<ng-template #importModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Import Recipe</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <div class="input-group">
        <input #recipe type="file" class="form-control" name="recipe" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-outline-secondary"
      (click)="modal.close(recipe.files?.[0])"
    >
      Import
    </button>
  </div>
</ng-template>

<ng-template #exportModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Export Recipe</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <pre><code>{{exportedWorkspace}}</code></pre>
    </div>
  </div>
  <div class="modal-footer">
    <a
      class="btn btn-outline-secondary"
      role="button"
      [href]="createFileUrl(exportedWorkspace)"
      download="recipe.json"
      >Download</a
    >
  </div>
</ng-template>

<div id="header">
  <div id="logo">PiBakery</div>
  <!--
  <button class="btn headerBtn" id="flashSD">
    <img src="assets/img/write-to-sd.png" class="sdImage" />
    <p>Write</p>
  </button>
  <button class="btn headerBtn" id="updateSD">
    <img src="assets/img/update-sd.png" class="sdImage" />
    <p>Update</p>
  </button>
  <button class="btn headerBtn" id="loadSD">
    <img src="assets/img/load-sd.png" class="sdImage" />
    <p>Load</p>
  </button>
  -->

  <button class="headerBtn" id="export" (click)="export()">
    <img src="assets/img/export.png" class="sdImage" />
    <p>Export</p>
  </button>
  <button class="headerBtn" id="import" (click)="import()">
    <img src="assets/img/import.png" class="sdImage" />
    <p>Import</p>
  </button>
</div>

<app-blockly />

<div id="credits">
  <p>www.PiBakery.org</p>
  <p>&#64;PiBakery</p>
</div>
